<div class="left">
    <div style="padding: 20px;">
        <h4>{{ route.name }}</h4>
        <p class="text-s">{{ route.date.strftime('%d.%m.%Y %H:%M') }} · {{ "%.2f"|format(route.dist) }} км · {{ pts|length }} точек</p>
        <div class="flex gap-2 mb-3">
            <a href="/" class="btn btn-a btn-s">← Назад</a>
            <a href="/route/{{ route.id }}/del" class="btn btn-r btn-s">Удалить</a>
        </div>
        <hr>
        {% for p in pts %}
        <div class="item">{{ loop.index }}. {{ "%.5f"|format(p[0]) }}, {{ "%.5f"|format(p[1]) }}</div>
        {% endfor %}
    </div>
</div>
<div class="right"><div id="map"></div></div>
<script>
    ymaps.ready(function(){
        var pts=[{% for p in pts %}[{{p[0]}},{{p[1]}}]{% if not loop.last %},{% endif %}{% endfor %}];
        var map=new ymaps.Map('map',{center:[{{route.clat}},{{route.clon}}],zoom:14});
        if(pts.length>1)map.geoObjects.add(new ymaps.Polyline(pts,{},{strokeColor:'#7c5cfc',strokeWidth:3}));
        pts.forEach(function(p,i){map.geoObjects.add(new ymaps.Placemark(p,{balloonContent:'Точка '+(i+1)},{preset:i===0?'islands#greenIcon':(i===pts.length-1?'islands#redIcon':'islands#blueIcon')}));});
        map.setBounds(map.geoObjects.getBounds());
    });
</script>