<div class="center">
    <div class="box">
        <h2>Вход</h2>
        <form method="POST">
            <label>Логин</label><input type="text" name="username" required class="mb-2">
            <label>Пароль</label><input type="password" name="password" required class="mb-3">
            <button class="btn btn-a btn-w">Войти</button>
        </form>
        <p class="text-s text-c" style="margin-top: 14px;">Нет аккаунта? <a href="/register" style="color: var(--a);">Регистрация</a></p>
    </div>
</div>